# Backend
SERVER_PORT=8081
JWT_SECRET=cGV0dGltZS1kZXYtc2VjcmV0LWNoYW5nZS10aGlzLW5vdy0yMDI2
JPA_DDL_AUTO=update
JPA_SHOW_SQL=false
SECURITY_LOG_LEVEL=INFO

# MySQL
DB_NAME=pettime
DB_USER=pettime
DB_PASSWORD=pettime
MYSQL_ROOT_PASSWORD=root
MYSQL_PORT=3306
